<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portfolio</title>
</head>
<body>
    <h1>Welcome to Shaurya's Portfolio</h1>
    <img src="<C:/Users/LENOVO/OneDrive/Desktop/MINE/Portfolio/Express-Portfolio/IMG/image/profile.jpg>" alt="Profile Photo" height="200">
    <br>
    <a href="/skills"><button>View Skills</button></a>
</body>
</html>
